.env
database
gui
rough.md
qdrant_storage
results
docker-compose1.yml
qdrant.ipynb
qdrant_ingest.ipynb
rough.ipynb
rough.md
rough.py
combined_logs.log
# evaluation
# Python cache
__pycache__/
*.pyc

# Local data/artifacts
Qdrant/
SQL_database/
*.pkl
evaluation/same_question_robustness/OpenTargets/Opentargets_same_question_response_final.json
