
# fastapi==0.119.0
# uvicorn[standard]==0.37.0
# pydantic==2.12.3
# requests==2.32.5
# pandas==2.3.3
# aiohttp
# mygene
# owlready2
# chembl_webresource_client
# drug_named_entity_recognition




fastapi==0.119.0
uvicorn[standard]==0.37.0
pydantic==2.12.3
requests==2.32.3
pandas==2.3.3
aiohttp==3.9.5
mygene==3.2.2
owlready2==0.47
chembl_webresource_client==0.10.8
drug_named_entity_recognition==2.0.9 
